# Amazon Retail data analysis

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder.appName("amzaon").getOrCreate()
spark

In [2]:
df=spark.read.csv("./datasets/Amazon Sale Report.csv",header=True,inferSchema=True)
df.show(10)

+-----+-------------------+--------+--------------------+----------+--------------+------------------+-------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+-------------+----------------+------------+--------------------+-----+------------+-----------+
|index|           Order ID|    Date|              Status|Fulfilment|Sales Channel |ship-service-level|  Style|                SKU|     Category|Size|      ASIN|Courier Status|Qty|currency|Amount|  ship-city|   ship-state|ship-postal-code|ship-country|       promotion-ids|  B2B|fulfilled-by|Unnamed: 22|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+-------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+-------------+----------------+------------+--------------------+-----+------------+-----------+
|    0|405-8078784-5731545|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard| SET389|     SET389-KR-NP-S|          Set|   S|B09KXVBD7Z|          NULL|  0|     INR|647.62|     MUMBAI|  MAHARASHTRA|        400081.0|          IN|                NULL|false|   Easy Ship|       NULL|
|    1|171-9198151-1101146|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|JNE3781|    JNE3781-KR-XXXL|        kurta| 3XL|B09K3WFS32|       Shipped|  1|     INR| 406.0|  BENGALURU|    KARNATAKA|        560085.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       NULL|
|    2|404-0687676-7273146|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|JNE3371|      JNE3371-KR-XL|        kurta|  XL|B07WV4JV4D|       Shipped|  1|     INR| 329.0|NAVI MUMBAI|  MAHARASHTRA|        410210.0|          IN|IN Core Free Ship...| true|        NULL|       NULL|
|    3|403-9615377-8133951|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|  J0341|         J0341-DR-L|Western Dress|   L|B099NRCT7B|          NULL|  0|     INR|753.33| PUDUCHERRY|   PUDUCHERRY|        605008.0|          IN|                NULL|false|   Easy Ship|       NULL|
|    4|407-1069790-7240320|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|JNE3671|    JNE3671-TU-XXXL|          Top| 3XL|B098714BZP|       Shipped|  1|     INR| 574.0|    CHENNAI|   TAMIL NADU|        600073.0|          IN|                NULL|false|        NULL|       NULL|
|    5|404-1490984-4578765|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| SET264|    SET264-KR-NP-XL|          Set|  XL|B08YN7XDSG|       Shipped|  1|     INR| 824.0|  GHAZIABAD|UTTAR PRADESH|        201102.0|          IN|IN Core Free Ship...|false|        NULL|       NULL|
|    6|408-5748499-6859555|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  J0095|        J0095-SET-L|          Set|   L|B08CMHNWBN|       Shipped|  1|     INR| 653.0| CHANDIGARH|   CHANDIGARH|        160036.0|          IN|IN Core Free Ship...|false|        NULL|       NULL|
|    7|406-7807733-3785945|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|JNE3405|       JNE3405-KR-S|        kurta|   S|B081WX4G4Q|       Shipped|  1|     INR| 399.0|  HYDERABAD|    TELANGANA|        500032.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       NULL|
|    8|407-5443024-5233168|04-30-22|           Cancelled|    Amazon|     Amazon.in|         Expedited| SET200|SET200-KR-NP-A-XXXL|          Set| 3XL|B08L91ZZXN|     Cancelled|  0|    NULL|  NULL|  HYDERABAD|    TELANGANA|        500008.0|          IN|IN Core Free Ship...|false|        NULL|       NULL|
|    9|402-4393761-0311520|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|JNE3461|     JNE3461-KR-XXL|        kurta| XXL|B08B3XF5MH|       Shipped|  1|     INR| 363.0|    Chennai|   TAMIL NADU|        600041.0|          IN|                NULL|false|        NULL|       NULL|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+-------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+-------------+----------------+------------+--------------------+-----+------------+-----------+
only showing top 10 rows

1.▪️ Calculate the total quantity (Qty) sold for each Category using groupBy and expr.

In [28]:
df.groupBy(df["Category"]).agg(F.expr("sum(Qty) as Total")).show()

+-------------+-----+
|     Category|Total|
+-------------+-----+
| Ethnic Dress| 1053|
|          Top| 9903|
|          Set|45289|
|        Saree|  152|
|       Bottom|  398|
|Western Dress|13943|
|       Blouse|  863|
|        kurta|45045|
|      Dupatta|    3|
+-------------+-----+

▪️ Find the total revenue (Amount) for each Sales Channel using groupBy and expr.

In [30]:
df.groupBy(df["Sales Channel "]).agg(F.expr("sum(amount) as Total_revenue")).show()

+--------------+-------------+
|Sales Channel |Total_revenue|
+--------------+-------------+
|    Non-Amazon|         NULL|
|     Amazon.in| 7.85926783E7|
+--------------+-------------+

▪️ Determine the average Amount spent on orders based on the ship-state using groupBy and expr.

In [37]:
s = df.groupBy("ship-state").agg(F.expr("round(avg(amount), 2) as average"))
s = s.orderBy(F.desc("average"))
s.show()

+-----------------+-------+
|       ship-state|average|
+-----------------+-------+
|            bihar| 1432.0|
|           LADAKH| 914.01|
|           Sikkim|  901.0|
|            delhi| 827.68|
|       Chandigarh| 823.15|
|         NAGALAND| 801.29|
|      LAKSHADWEEP| 793.82|
|           SIKKIM| 738.64|
|          Mizoram|  735.0|
|           Punjab| 733.77|
|            Bihar| 733.07|
|            BIHAR| 720.61|
|          MANIPUR| 714.02|
|ARUNACHAL PRADESH| 710.71|
|  JAMMU & KASHMIR| 704.06|
|        RAJASTHAN| 695.62|
| HIMACHAL PRADESH| 695.25|
|           ODISHA| 694.79|
|          HARYANA| 688.18|
|    UTTAR PRADESH|  685.3|
+-----------------+-------+
only showing top 20 rows

▪️ Group orders by Courier Status and count the number of orders in each status.

In [41]:
df.groupBy(df["Courier Status"]).count().show()

+--------------+------+
|Courier Status| count|
+--------------+------+
|       Shipped|109487|
|          NULL|  6872|
|     Cancelled|  5935|
|     Unshipped|  6681|
+--------------+------+

▪️ Use groupBy and expr to find the maximum and minimum Amount spent per Category.

In [43]:
df.groupBy(df["Category"]).agg(F.expr("max(Amount) as Max"),F.expr("min(Amount) as min")).show()

+-------------+-------+-----+
|     Category|    Max|  min|
+-------------+-------+-----+
| Ethnic Dress| 1449.0|  0.0|
|          Top| 1797.0|  0.0|
|          Set| 5584.0|  0.0|
|        Saree| 2058.0|  0.0|
|       Bottom|1028.58|  0.0|
|Western Dress| 2860.0|  0.0|
|       Blouse|1266.66|  0.0|
|        kurta| 2796.0|  0.0|
|      Dupatta|  305.0|305.0|
+-------------+-------+-----+

 Find the count of orders per Status and Fulfilment type using groupBy.

In [47]:
df.groupBy(df["Fulfilment"]).count().show()

+----------+-----+
|Fulfilment|count|
+----------+-----+
|  Merchant|39277|
|    Amazon|89698|
+----------+-----+

▪️ Identify the most frequent ship-service-level used in each State.

In [6]:
df.groupby (df["ship-state"]).count().show()

+--------------------+-----+
|          ship-state|count|
+--------------------+-----+
|     DADRA AND NAGAR|   70|
|              SIKKIM|  202|
|           MEGHALAYA|  204|
|                  NL|    2|
|              Odisha|   21|
|         WEST BENGAL| 5963|
|              Punjab|   34|
|Punjab/Mohali/Zir...|    1|
|                 GOA| 1102|
|        CHHATTISGARH|  909|
|           RAJASTHAN| 2650|
|                NULL|   33|
|             Manipur|    5|
|              punjab|   14|
|             TRIPURA|  151|
|               DELHI| 6782|
|                 Goa|   30|
|    HIMACHAL PRADESH|  788|
|               BIHAR| 2086|
|          CHANDIGARH|  322|
+--------------------+-----+
only showing top 20 rows

In [51]:
df.groupBy(col("ship-state"),col("ship-service-level")).count().show()

+------------------+------------------+-----+
|        ship-state|ship-service-level|count|
+------------------+------------------+-----+
|ANDAMAN & NICOBAR |          Standard|   95|
|         rajasthan|          Standard|    3|
|         TELANGANA|         Expedited| 7974|
|   JAMMU & KASHMIR|          Standard|  253|
|         Rajasthan|          Standard|   17|
|         MEGHALAYA|          Standard|   71|
|              NULL|         Expedited|   20|
|           MANIPUR|          Standard|  106|
|         JHARKHAND|          Standard|  511|
|        CHANDIGARH|          Standard|  119|
|        CHANDIGARH|         Expedited|  203|
|           MIZORAM|         Expedited|   48|
|        Puducherry|         Expedited|    1|
|           MIZORAM|          Standard|   27|
|  HIMACHAL PRADESH|          Standard|  305|
|             BIHAR|          Standard|  699|
|        PUDUCHERRY|         Expedited|  241|
|         Rajshthan|         Expedited|    3|
|               GOA|          Standard|  335|
|       MAHARASHTRA|          Standard| 6563|
+------------------+------------------+-----+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- index: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Fulfilment: string (nullable = true)
 |-- Sales Channel : string (nullable = true)
 |-- ship-service-level: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- SKU: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- ASIN: string (nullable = true)
 |-- Courier Status: string (nullable = true)
 |-- Qty: integer (nullable = true)
 |-- currency: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- ship-city: string (nullable = true)
 |-- ship-state: string (nullable = true)
 |-- ship-postal-code: double (nullable = true)
 |-- ship-country: string (nullable = true)
 |-- promotion-ids: string (nullable = true)
 |-- B2B: boolean (nullable = true)
 |-- fulfilled-by: string (nullable = true)
 |-- Unnamed: 22: boolean (nullable = true)